body{
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: auto;
}

/*Fonts*/

h1{
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
  padding: 50px;
  padding-bottom: 30px;
}

h2{
  font-size: 36px;
  text-align: center;
  font-weight: normal;
}

h3{
  font-size: 36px;
  font-weight: bold;
  margin-left: 5%;
}

h4{
  font-size: 24px;
  font-weight: bold;
  margin: auto;
}

p{
  font-size: 24px;
  font-weight: normal;
  margin-left: 5%;
  margin-right: 5%;
}
/*Caption has italicized fonts*/

h6{
  font-style: italic;
  font-size: 20px;
  text-align: center;
  padding: 0;
  margin: 10px;
  font-weight: lighter;
}

/*Divisions*/

.top-container{
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  background-color: #d3adf0;
  position: relative;
}

/*Design animation if time permits*/

.frozen-top{
  width: auto;
  height: auto;
  margin: auto;
  padding: auto;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color:rgba(236, 221, 233, 1);
}

.main-body{
  position: relative;
  margin: auto;
  padding: auto;
  padding-bottom: 50;
  width: 100%;
  height: auto;
  z-index: 1;
  background-color: rgb(195, 219, 234);
}

canvas{
  margin: auto;
  padding: auto;
  width: 75%;
  position: relative;
  height: auto;
}

.extra-info{
  margin-left: 10%;
  margin-right: 10%;
  padding: 10;
  background-color: white;
}

.conclusion{
  width: auto;
  height: auto;
  margin: auto;
  padding-top: 1%;
  padding-bottom: 1%;
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #d3adf0;
}
/*Media*/

.assaultedGirl{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
}
